@using MediPlusMVC.Models;
@model IEnumerable<Patient>

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Tables</h1>

    <a asp-action="Create" asp-controller="Patient">
        <button class="btn btn-success mb-3">Create</button>
    </a>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">DataTables Example</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <td>FirstName</td>
                            <td>LastName</td>
                            <td>Username</td>
                            <td>Fincode</td>
                            <td>PhoneNumber</td>
                            <td>CreatedAt</td>
                            <td>UpdatedAt</td>
                            <td>DeletedAt</td>
                            <td>Update</td>
                            <td>Delete</td>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Patient item in Model)
                        {
                            <tr>
                                <td>@item.Name</td>
                                <td>@item.Surname</td>
                                <td>@item.Username</td>
                                <td>@item.Fincode</td>
                                <td>@item.PhoneNumber</td>
                                <td>@item.CreatedAt</td>
                                <td>@item.UpdatedAt</td>
                                <td>@item.DeletedAt</td>
                                <td>
                                    <a asp-action="Update" asp-controller="Patient" asp-route-id="@item.Id">
                                        <button class="btn btn-warning text-white">
                                            Update
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    @{
                                        if (item.isActive)
                                        {
                                            <a asp-action="SoftDelete" asp-controller="Patient" asp-route-id="@item.Id">
                                                <button class="btn btn-danger text-white">
                                                    Soft Delete
                                                </button>
                                            </a>
                                        }
                                        else
                                        {
                                            <a asp-action="HardDelete" asp-controller="Patient" asp-route-id="@item.Id">
                                                <button class="btn btn-danger text-white">
                                                    Hard Delete
                                                </button>
                                            </a>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
<!-- /.container-fluid -->